{% extends '게시판기본.html' %}
{% block javascript %}
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '394ae0e3-14d1-447e-9290-cc62499d59f3', f: true }); done = true; } }; })();</script>
{% endblock %}
{% block 이정표 %}
<li class="breadcrumb-item active">게시판</li>
{% endblock %}

{% block 페이지내용 %}
<table class="table">
  <thead class="table-dark">
    <tr>
      {% for 컬럼 in 헤드 %}
        <th class='text-center'>{{ 컬럼.헤더 }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for 게시판 in 게시판목록 %}
      <tr>
        <td>
          <a href="{% url '주제목록' 게시판.pk %}">{{게시판.이름}}</a>
          <small class='text-muted d-block'>{{게시판.설명}}</small>
        </td>
        <td class="text-center">{{ 게시판.게시된글수 }}</td>
        <td class="text-center">{{ 게시판.주제들.count }}</td>
        <td>
          {% with 글=게시판.최근작성글 %}
          {% if 글 %}
            <small>
              <a href="#">
                작성자:{{ 글.작성자.username }}, 작성일:{{ 글.작성일 }}
              </a>
            </small>
          {% else %}
            <small class="text-muted">
              <em>게시물이 없습니다.</em>
            </small>
          {% endif %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% include "includes/페이지관리.html" %}
{% endblock %}
