{% extends '게시판기본.html' %}

{% block 타이틀 %}
    {{뷰결과.게시판.이름}} - {{ block.super }}
{% endblock %}

{% block 이정표 %}
  <li class="breadcrumb-item"><a href="{% url '게시판' %}">게시판</a></li>
  <li class="breadcrumb-item active">{{게시판.이름}}</li>
{% endblock %}

{% block 페이지내용 %}
  <div class="mb-4">
    <a href="{% url '새글' 게시판.pk %}" class="btn btn-primary" role="button">새글</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        {% for 컬럼 in 헤더 %}
      <th class='align-middle'>{{ 컬럼 }}</th>
    {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for 주제 in 주제들 %}
        <tr>
          <td><a href="{% url '글조회' 게시판.pk 주제.pk %}">{{ 주제.주제 }}</a></td>
          <td>{{ 주제.게시자.username }}</td>
          <td>{{ 주제.댓글수 }}</td>
          <td>{{ 주제.조회수 }}</td>
          <td>{{ 주제.게시일 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}